html,body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins' ,sans-serif;
  color: #222;
  scroll-behavior: smooth;
}

#mainNav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #000;
  transition: background-color 0.2s ease;
}

/* contact us form */

#contactus{
  background-color: #323a45;
  padding: 20px 40px;
}

#contactus h2{
  text-align:center;
  color: wheat;
  font-weight: 800;
  margin-bottom: 40px;
}

#contactus ::placeholder {
  color: white;
  opacity: 1;
}

#contactus :-ms-input-placeholder {
  color: white;
}

#contactus ::-ms-input-placeholder {
  color: white;
}
#contactus input:focus::placeholder,#contactus input:focus:-ms-input-placeholder,#contactus input:focus::-ms-input-placeholder{
  color: wheat;
}

#contactus input:-webkit-autofill {
    -webkit-text-fill-color: green !important;
}

#contactus #message-cont{
  margin-top: 40px;
}

#contactus #message-cont textarea,#contactus .upper-half input{
  width: 100%;
outline: none;
border: none;
color: white;
background-color: #2a313c;
padding: 12px 25px;
margin-bottom: 20px;
}
#contactus #message-cont textarea:focus,#contactus .upper-half input:focus{
  border: 2px solid #7b6b4d;
}

#contactus label{
  display: block;
}

#contactus #submit-cont{
  margin-top: 20px;
  float: right;
}
#contactus #submit-cont:hover{
  border: 2px solid #7b6b4d;
  border-radius: 5px;
}

#contactus #submit-cont input{
  border: 1px solid;
  color: white;
  background-color: #323a45;
  width: 120px;
  padding: 7px;
  font-weight: 700;
  border-radius: 5px;
}

#contactus form{
  width: 100%;
}
/* contact us form */

.nav-link{
  font-size: 1.1em !important;
  color: white !important;
  font-weight: 800;
}
.nav-link:hover{
  color: gold !important;
}
.navbar-brand{
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-brand img{
  width: 60px;
  height: 60px;
}
#mainNav.navbar-scrolled {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #000;
  }
.navbar li{
  padding-right: 20px;
}
#aboutus{
  margin: 25px 0 25px 0;
}
#aboutus h2{
  margin-top: 25px;
}
.img-wrap{
  width: 100%;
}
.img-wrap img{
  width: 100%;
  height: 500px;
  padding: 10px;
  box-shadow: 0 0 10px #999999;
}
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../img/backgound.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
.image-cont{
  padding-bottom: 20px;
}
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  display: none;
}
.masthead h1{
  color: #222;
  font-size: 3rem;
  font-weight: 400;
}
footer{
  background-color: #3f3f3f;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #A9A9A9;
}
footer .address{
  padding-top: 10px;
  padding-bottom: 10px;
}

footer .address > h4{
  text-align: left;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

footer .address > p{
  text-align: left;
  margin: 0;
}

.masthead a.lead{
  color: #222;
  border: 2px solid;
  cursor: pointer;
  font-family: Open Sans;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 2px;
}

.masthead a.lead:hover{
  background-color: #393939;
  color: gold;
}

@media only screen and (max-width: 600px) {
  .masthead h1{
    font-size: 1.6rem;
    margin-bottom: 25px;
  }
  .masthead a.lead{
    padding: 17px 25px 17px 25px;
    font-size: 1rem;
  }
  footer{
    padding-left: 15px;
  }
  footer .address{
    margin-bottom: 20px;
  }
  footer .address > h4,footer .address > p{
    text-align: center;
  }
}

@media only screen and (min-width: 600px) {
  .masthead h1{
    font-size: 1.8rem;
    margin-bottom: 25px;
  }
  .masthead a.lead{
    padding: 17px 30px 17px 30px;
    font-size: 1.3rem;
  }
  .navbar-brand img{
    width: 80px;
    height: 80px;
  }
}
@media only screen and (min-width: 768px) {
  .masthead h1{
    font-size: 2.5rem;
    margin-bottom: 25px;
  }

.masthead a.lead{
    padding: 17px 35px 17px 35px;
    font-size: 1.5rem;
}
.bottom-right{
  display: block;
}
}

@media only screen and (min-width: 992px) {
  #mainNav {
    box-shadow: none;
    background-color: transparent;
  }

  .nav-link{
    font-size: 1.1em !important;
    color: #fff !important;
  }
  .masthead h1{
    font-size: 3rem;
    margin-bottom: 25px;
  }
  .masthead a.lead{
    padding: 17px 40px 17px 40px;
    font-size: 2rem ;
  }
}
